<a href="https://colab.research.google.com/github/HemsOhal/BasicsofML/blob/main/ds1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'ID': [1, 2, 3],'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4],'Age':[20,35,45]})

In [ ]:
print(df1.head())

   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie

In [ ]:
print(df2.head())

   ID  Age
0   2   20
1   3   35
2   4   45

In [ ]:
print(df1.shape)
print(df2.shape)

(3, 2)
(3, 2)

In [ ]:
# Merge dataframes on 'ID'on inner join
merged_df = pd.merge(df1, df2)
print("Merged DataFrame (using merge):")
print(merged_df)

Merged DataFrame (using merge):
   ID     Name  Age
0   2      Bob   20
1   3  Charlie   35

In [ ]:
# Merge dataframes on 'ID'on outer join
merged_df = pd.merge(df1, df2, on='ID', how='outer')
print("Merged DataFrame (using merge):")
print(merged_df)

Merged DataFrame (using merge):
   ID     Name   Age
0   1    Alice   NaN
1   2      Bob  20.0
2   3  Charlie  35.0
3   4      NaN  45.0

In [ ]:
# Merge dataframes on 'ID'on inner join
merged_df = pd.merge(df1, df2, on='ID', how='inner')
print("Merged DataFrame (using merge):")
print(merged_df)

Merged DataFrame (using merge):
   ID     Name  Age
0   2      Bob   20
1   3  Charlie   35

In [ ]:
# Concatenating the two dataframes along columns (axis=1)
concat_df = pd.concat([df1, df2], axis=1)
print("\nConcatenated DataFrame (using concat):")
print(concat_df)

Concatenated DataFrame (using concat):
   ID     Name  ID  Age
0   1    Alice   2   20
1   2      Bob   3   35
2   3  Charlie   4   45

In [ ]:
# Concatenating the two dataframes along rows (axis=0)
concat_df = pd.concat([df1, df2], axis=0)
print("\nConcatenated DataFrame (using concat):")
print(concat_df)

Concatenated DataFrame (using concat):
   ID     Name   Age
0   1    Alice   NaN
1   2      Bob   NaN
2   3  Charlie   NaN
0   2      NaN  20.0
1   3      NaN  35.0
2   4      NaN  45.0